@media(max-width: 1200px) {
	.wrapper {
		padding: 0 15px;
	}


	.page {
		.advantages {
			bottom: -20%;

			.cards {
				.card {
					span {
						padding-left: 20px;
					}
				}
			}
		}

		.deposit {
			.header-deposit {
				.tab {
				    padding: 0 4px;
				}
			}
		}

		.footer {
			.overlay-footer {
			    align-items: flex-start;

				.info {
					.social {
						img {
							width: 25%;
						}
					}
				}
			}
		}
	}
}

@media(max-width: 900px) {
	.page {
		.advantages {
			bottom: -30%;

			.cards {
				.card {
					span {
						font-size: 16px;
					}
				}
			}
		}

		.deposit {
			.header-deposit {
				text-align: center;
			
				.tab {
					display: block;
					padding: 10px 0;
				}
			}

			.tab-conteiner {
				.tab-content {
					.description {
						.sub-title {
							font-size: 16px;
						}
					}

					img {
						width: 45%;
					}
				}
			}
		}

		.brands {
			.overlay-brands {
				img {
					width: 100%;
				}
			}
		}

		.mobile-app {
			.overlay-mobile-app {
				.description {
					.sub-title {
						font-size: 16px;
					}
				}
			}
		}

		.about {
			.overlay-about {
				.description {
					p {
						font-size: 17px;
					}
				}
			}
		}

		.footer {
			.overlay-footer {
				flex-wrap: wrap;

				.info {
					width: 30%;

					.social {
						img {
							width: 17%;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
	.page {
		.header {
		    height: auto;
    		padding-bottom: 20px;

			.overlay-header {
				.top-header {
					flex-direction: column;

					.menu {
						display: none;
					}
				}

				.down-header {
					.main-title {
						font-size: 50px;
					}
				}
			}
		}

		.advantages {
			display: none;
		}
	
		.deposit {
			.tab-conteiner {
				.tab-content {	
					.description {
						width: 100%;
					}

					img {
						display: none;
					}
				}
			}
		}

		.brands {
			.overlay-brands {
				img {
					display: none;
				}
			}
		}

		.mobile-app {
			.overlay-mobile-app {
				.description {
					width: 100%;
					
					.sub-title {
						font-size: 18px;
					}
				}

				img {
					display: none;
				}
			}
		}

		.about {
			.overlay-about {
				.description {
					flex-direction: column;

					p {
						width: 100%;
						padding-bottom: 20px;
					}
				}
			}
		}

		.footer {
			.overlay-footer {
				flex-direction: column;

				.info {
					width: 100%;
					padding-bottom: 20px;
				}
			}
		}
	}
}